* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Montserrat, sans-serif;
  color: black;
  background-color: white;
  overflow-x: hidden;
}
/*Header start*/
header {
  overflow: hidden;
  position: fixed;
  background-color: white;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.imag img {
  height: 60px;
  transform: translateX(-15rem);
}
.list-items {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  align-items: center;
  transform: translateX(10rem);
}
.list-items a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1rem;
}
.list-items a:hover {
  color: rgb(88, 255, 196);
  transition: 0.5s;
}
.contact-btn {
  background-color: rgb(88, 255, 196);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  border: 0;
  padding: 0.8rem 1.2rem;
  transform: translateX(50px);
}
.contact-btn:hover {
  transition: 0.5s;
  color: rgb(88, 255, 196);
  background-color: white;
  cursor: pointer;
}
/*Header end*/

/*Banner start*/
.banner {
  overflow: hidden;
}
.video-wrap {
  overflow: hidden;
  height: 40rem;
}
.banner video {
  width: 100%;
  position: relative;
  z-index: 1;
}
.banner-items {
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.banner-logo {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 40%;
  width: 20rem;
}
.firstText {
  position: absolute;
  z-index: 3;
  top: 40%;
  left: 31%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0 0 1px rgb(0, 0, 0);
}
.firstText .middleText1 {
  color: rgb(0, 69, 149);
}
.secondText {
  position: absolute;
  z-index: 4;
  top: 40%;
  left: 19%;
  text-align: center;
  justify-content: center;
  text-shadow: 0 0 1px rgb(0, 0, 0);
}
.secondText .middleText2 {
  color: rgb(111, 237, 195);
}
.banner-logo,
.firstText,
.secondText {
  animation: fadeInOut 9s ease-in-out infinite;
  opacity: 0;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.banner-logo {
  animation-delay: 0s;
}
.firstText {
  animation-delay: 3s;
}
.secondText {
  animation-delay: 6s;
}
/*Banner end*/

.client h3 {
  text-align: center;
  font-size: 2rem;
  background: linear-gradient(to bottom, rgb(88, 255, 196), rgb(0, 0, 0));
  background-clip: text;
  color: transparent;
}

/*Images loop start*/
.images img {
  height: 50px;
}
.images {
  overflow: hidden;
  width: 100%;
}
.images-track {
  display: flex;
  justify-content: center;
  gap: 4rem;
  animation: scroll-left 20s linear infinite;
}
@keyframes scroll-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.images-track:hover {
  animation-play-state: paused;
}
/*Images loop end*/

/*Video and 1*4 grid start*/
.video-section {
  position: relative;
  z-index: 1;
  background-color: rgb(0, 38, 80);
}

.video-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  transform: translateY(2.5rem);
}

.video-wrapper video {
  width: 90%;
  display: block;
  transform: translateX(5rem);
}

.video-wrapper .sidetext {
  color: aquamarine;
  position: absolute;
  font-size: 2rem;
  top: 9%;
  left: 9%;
  z-index: 3;
  width: 80%;
  padding: 1rem;
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(3px);
}
.sidetext h6 {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  max-width: 50%;
}
.sidetext h3 {
  background: linear-gradient(to bottom, rgb(88, 255, 196), rgb(0, 0, 0));
  background-clip: text;
  color: transparent;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  padding: 5rem 10rem;
  background-color: rgb(0, 38, 80);
}
.feature hr {
  height: 1px;
  width: 60%;
  transform: translateX(3rem);
  background-color: rgb(0, 175, 117);
  border: 0;
}
.feature {
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/*Video and 1*4 grid end*/
.servicesText {
  padding: 2rem 0;
}
.servicesText h3 {
  text-align: center;
  font-size: 2.5rem;
  background: linear-gradient(to bottom, rgb(88, 255, 196), rgb(0, 0, 0));
  background-clip: text;
  color: transparent;
}
/* Grid-3 start */
.container-3 {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.pr-mngt,
.cnst-pr {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.content1,
.content2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  transition: background-color 0.5s ease;
}

.manage img,
.construction img {
  width: 100%;
  height: auto;
  z-index: 0;
  transition: transform 0.5s ease;
}

.content1-details,
.content2-details {
  position: absolute;
  z-index: 2;
  font-size: 1rem;
  color: white;
  top: 60%;
  left: 5%;
  width: 90%;
  font-weight: 600;
  text-align: start;
  transition: transform 0.5s ease;
  transform: translateY(4rem);
}

.hiddenContent {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.content1-details hr,
.content2-details hr {
  background-color: rgb(88, 255, 196);
  height: 0.5rem;
  border: 0;
  border-radius: 50rem;
}
.unlist li {
  list-style-type: none;
  padding-bottom: 0.75rem;
}
/* Hover effects */
.pr-mngt:hover .content1,
.cnst-pr:hover .content2 {
  background-color: rgba(0, 0, 0, 0.75);
}
.pr-mngt:hover .content1 hr,
.cnst-pr:hover .content2 hr {
  background-color: rgb(0, 38, 80);
  width: 25rem;
}
.pr-mngt:hover .manage img,
.cnst-pr:hover .construction img {
  transform: scale(1.1);
}

.pr-mngt:hover .content1-details,
.cnst-pr:hover .content2-details {
  transform: translateY(-16rem);
}

.pr-mngt:hover .hiddenContent,
.cnst-pr:hover .hiddenContent {
  opacity: 1;
}

/* Grid-3 end */

/* Grid-4 start */
.section-4 {
  background-color: rgb(0, 38, 80);
  padding-top: 4rem;
  margin-top: 3rem;
}

.section-4 .innerText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  background: linear-gradient(to bottom, rgb(88, 255, 196), rgb(0, 0, 0));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

.container-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 5rem 10rem;
  margin-top: -2rem;
}

.bgLayer {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.details {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
  z-index: 2;
}

.details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  display: block;
}

.details-words {
  position: absolute;
  bottom: 5%;
  left: 20%;
  right: 0;
  z-index: 2;
  color: white;
  padding: 1rem;
  font-size: 0.8rem;
  scale: 1.5;
  border-radius: 0 0 2rem 2rem;
}

.details-words h3 {
  font-size: 0.8rem;
  transform: translateY(6.5rem);
  transition: transform 0.4s ease;
}

.bgLayer:hover .details-words h3 {
  transform: translateY(-4rem);
}

.hidLayer .ulList {
  transform: translateY(15rem);
  padding-left: 1.2rem;
  margin-top: 0.5rem;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.bgLayer:hover .ulList {
  opacity: 1;
  transform: translateY(-5rem);
}

.ulList li {
  list-style-type: none;
  padding-bottom: 0.5rem;
  color: white;
}

/* Grid-4 end */

.middleText {
  transform: translateY(2rem);
  text-align: center;
}
.middleText h3 {
  font-size: 2.5rem;
  background: linear-gradient(to bottom, rgb(88, 255, 196), rgb(0, 0, 0));
  background-clip: text;
  color: transparent;
}
/*Container-2 start*/
.container-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
  padding-top: 2rem;
  padding-left: 12rem;
  padding-right: 12rem;
  justify-items: center;
  overflow: hidden;
  color: black;
  transform: translateY(1rem);
}
.content {
  width: 100%;
  text-align: start;
}

.content a {
  text-decoration: none;
  color: black;
}
.content a h3 {
  font-size: 20px;
}
.content p {
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, bold;
}
.content img {
  width: 100%;
  height: 55%;
  border-radius: 1rem;
}
/*Container-2 end*/
.viewall {
  display: flex;
  justify-content: center;
  align-items: center;
}
.viewall a {
  text-decoration: none;
}
.viewall button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(88, 255, 196);
  padding: 0.7rem;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 10rem;
}
.viewall button:hover {
  background-color: white;
  color: rgb(88, 255, 196);
  transition: 0.5s;
  cursor: pointer;
}

/*Form start*/
.form-section-wrap {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}
.form-section-box {
  display: flex;
  width: 100%;
  background-color: rgb(15, 27, 61);
  transform: scale(0.9);
}
.form-section {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
::placeholder {
  font-size: 1rem;
  color: white;
}
.section-title {
  background: linear-gradient(to bottom, rgb(88, 255, 196), rgb(0, 0, 0));
  background-clip: text;
  color: transparent;
}

.input-row {
  display: block;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 2rem;
}
.input-group {
  display: inline flex;
}
.form-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
}
.form-select {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}
.input-group-full-width {
  padding-bottom: 2rem;
}
.input-group-full-width textarea {
  min-height: 100px;
  max-height: 150px;
  min-width: 346px;
  max-width: 346px;
}
.attachment-section .attachment-button {
  background-color: rgb(192, 192, 192);
  padding: 0.5rem 0.5rem;
}
.contact-form button {
  padding: 1rem 3rem;
  border-radius: 20rem;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(88, 255, 196);
  transition: 0.5s;
}
.contact-form button:hover {
  color: rgb(88, 255, 196);
  background-color: white;
}
.form-sideImg {
  width: 50%;
}
.form-sideImg img {
  width: 100%;
}

/*Form end*/

/*Footer start*/
.footer-bg {
  background-color: rgb(0, 38, 80);
}
.footer-container {
  overflow: hidden;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 6rem;
  padding-right: 50rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  font-size: 1rem;
}
.column-details {
  min-width: 17rem;
}

.ftimg {
  transform: translateX(4.6rem);
  height: 4.5rem;
}

.para {
  text-align: center;
  color: rgb(207, 207, 207);
  font-weight: 500;
}
.column-details h3 {
  color: white;
}
.column-details li {
  padding-bottom: 1rem;
  list-style-type: none;
}
.column-details li:hover,
.column-details a:hover {
  color: whitesmoke;
  outline-color: white;
}
.column-details ul,
.column-details a {
  text-decoration: none;
  color: rgb(207, 207, 207);
  font-weight: 500;
}
.column-details button {
  padding: 0.5rem 3rem;
  border-radius: 20rem;
  background-color: rgb(33, 199, 141);
  border: 0;
  font-weight: 450;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.805);
}
.column-details button:hover {
  background-color: white;
  color: black;
  transition: 1s;
}
.flagpic {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
.footer-para {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: white;
  font-weight: 600;
}
.inner-footer {
  display: flex;
  gap: 38rem;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  background-color: rgb(33, 199, 141);
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
}
/*Footer end*/
/*Responsive site*/
